body{
    background-color: #FFFFFF;
}
/* grey #747474 */
div.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #747474;
    font-size: large;
    position: relative;
    left: 46%;
}
#logo{
    position: relative;
    right: 81px;
}
#db{
    position: relative;
    right: 2%;
    top:10px;
    z-index: 1;
}
/* off white #FFFFFF */
div.menu{
    background: #FFFFFF;
    text-align: center;
}
div.menu ul{
    display: flex;
    list-style: none;
    color: #747474;
}
div.menu ul li{
    width: 80px;
    margin: 15px;
    padding: 10px;
}
div.menu ul li a{
    text-decoration: none;
    color: #747474;
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}
#button1{
    /*margin-left: 750px;
    margin-top: 20px;*/

    border-radius: 200px;
    width: 150px;
    height: 20px;
    z-index: -1;
}
/* orange #F47A42 */
#button2{
    /*margin-left: 1065px;*/
    border-radius: 200px;
    width: 150px;
    height: 20px;
    background-color: #F47A42;
}
#img1{
    background-size: cover;
}
.active, .menu ul li: :hover{
    background: #2bab0d;
    border-radius: 3px;
    display: block;
}
div.content2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer{
    display: flex-end;
    z-index: -1;
}
#link_button{
    position: relative;
    bottom: 120px;
    left: 475px;
    padding: 10px;
}
#footer2{
  width: 100%;
  float: none;
}
